<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<header>
  <h1>Send Message</h1>
</header>

<main>
  <form method="POST" action="/new">
    <ul>
      <li>
        <label for="author">Author</label>
        <input type="text" id="author" name="messageUser" />
      </li>
      <li>
        <label for="message">Message</label>
        <textarea id="message" rows="8" name="messageText"></textarea>
      </li>
      <li>
        <button type="submit">Send your message</button>
      </li>
    </ul>
  </form>
</main>