<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<header>
  <h1><%= title %></h1>
</header>

<main>
  <h2>Messages</h2>
  <ul class="messages">
    <% messages.map(message => { %>
    <article class="message-container">
      <h3><%= message.text %></strong></h3>
      <p><%= message.user %></p>
      <p class="date"><small><%= message.added %></small></p>
    </article>
    <% }) %>
  </ul>
</main>
