<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<main>
  <h1>Message</h1>
  <article class="message-container">
    <h2><%= text %></h2>
    <p><%= username %></p>
    <p class="date"><small><%= added_date_time %></small></p>
  </article>
</main>

<footer>
  <a href="/" aria-label="Return to home page to view all messages">
    <button type="button">View all messages</button>
  </a>
</footer>
