* {
	box-sizing: border-box;
	font-family: "Lucida Sans", sans-serif;
}

button {
	cursor: pointer;
	font-size: 1rem;
}

.messages {
	padding: 0;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.message-container {
	border: 1px solid black;
	padding: 1rem 1.5rem;
	position: relative;
	max-width: 35rem;
}

.date {
	color: hsl(0, 0%, 60%);
}

form ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

form li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
}

textarea {
	resize: none;
}

button.open-message {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: none;
	padding: 0.25rem;
}

button.open-message:hover {
	background-color: hsl(0, 0%, 95%);
	border-radius: 4px;
}

footer {
	margin-top: 1rem;
}

.errorMessage {
	color: red;
}
